/*!!! Sobre Classes !!! */
.SobreTitulo
{
    display: inline-block;
    position: relative;
    background-color: rgb(34, 32, 58);
    width: 100%;
    padding: 0px 0px 30px 0px;
  
}
.SobreTitulo2
{   display: inline-block;
    position: relative;
    padding: 30px 0px 0px 0px;
    width: 100%;
    background-color: rgb(34, 32, 58);
}
.SobreTitulo_texto
{
    text-align: center;
    position: absolute;
    font-size: 25px;
    top: 320px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Protest Revolution", sans-serif;
}

.SobreTitulo_texto2
{
    text-align: center;
    position: absolute;
    font-size: 25px;
    top: 180px;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Segoe UI', sans-serif;
}


.sobre1
{   
    text-align: left;
    display: flex;
}